
:root {
    --dark-color: rgba(22, 152, 172, 1);
    --light-color: rgba(255, 255, 255, 1);
}

.back-img{

    background-image: url("../img/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    filter: brightness(1) contrast(1.1);
}
body{
    font-family: Laila;
    background: cover;
    background-repeat: no-repeat;
    background-color: black;
    margin: 0 0;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    
}
.logo-box{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-img{
    width: 100px;
}

.logo-text{
    font-size: 40px;
    font-weight: 600;
    position: relative;
    left: -25px;
    color: var(--dark-color);
}

nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
.nav-items{
    margin: 0 10px;
    text-decoration: none;
    color: var(--light-color);
}
main{
    display: flex;
    flex-wrap: wrap;
}

@font-face {
    font-family: Laila;
    src: url("../fonts/Laila/Laila-Regular.ttf");
}
.fl{
    display: flex;
    align-items: center;
}

.logo-box, .nav-box{
    flex: 1;
}

.nav-item{
    border: 2px solid var(--dark-color);
    border-radius: 20px;
    text-align: center;
    padding: 2px 17px;
    font-weight: 600;
    flex: 1;
    white-space: nowrap;
}


.nav-item:hover{
    background-color: var(--dark-color);
    color: var(--light-color);
    transition: 0.3s;
}
.nav-box{
    display: flex;
    justify-content: flex-end;
}
.all-structure{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
}
.structure-img{
    max-width: 100%;
    height: auto;
}
.structure-img1{
    max-width: 100%;
    height: auto;
}

.name{
    font-size: 70px;
    font-weight: 700;
    color: var(--dark-color);
}

.discription-text{
    font-size: 70px;
    color: var(--light-color);
    width: 40vw;
}
.discription{
    display: flex;
    flex-direction: column;

}

.dis {
margin: 0;
}

.discription-text1{
    font-size: 35px;
    color: var(--light-color);
    width: 29vw;
}

.nav-item1{
    align-items: flex-end;
    border: 2px solid var(--dark-color);
    border-radius: 13px;
    width: fit-content;
    padding: 11px 25px;
    font-weight: 450;

    white-space: nowrap;
    display: inline-flex;
    
}
.nav-list1{
    display: flex;
    gap: 20px;
}

.nav-item1:hover{
    background-color: var(--dark-color);
    color: var(--light-color);
    transition: 0.3s;
    border: 1px solid var(--light-color);
}
.btn{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--light-color);
    font-size: 26px;
    border: 2px solid var(--dark-color);
    border-radius: 20px;
    text-align: center;
    padding: 2px 17px;
    font-weight: 600;
    flex: 1;
    white-space: nowrap;
}
.btn:hover{
    background-color: var(--dark-color);
    color: var(--light-color);
    transition: 0.3s;
}
.nav-link{
    white-space: nowrap;

}

body{
    background-image:  url("../img/back.png");
    padding: 50px;
}

@media (max-width: 767px) {
    .nav-items {
        font-size: 10px;
    }
    .nav-box{
        display: none;
    }
    
    .body {
        padding: 5px;
        
    }
    .name{
        font-size: 25px;
    }
    .discription-text{
        font-size: 20px;
        width: 70%;
    }
        .discription-text1{
            font-size: 15px;
            width: 82%;
        }
        .dis{
            margin: 0 10px;
        }
        .btn{
            align-items: center;
        }
        .nav-list1{
            max-width: 80%;
        }
        .all-structure{
            max-width: 767px;
            margin: 0;
        }
        .img-outside{
            display: none;
        }
        .img-inside{
           justify-content: center;
            width: 80%;
            margin: 10px 20px;
        }
        .nav-list1{
            justify-content: center;
            flex-direction: column;
            align-items: center;
            max-width: 100%;
        }
        .header{
            justify-content: center;
            margin: 0;
        }
        .logo-img{
            width: 60px;
            height: auto;
        }
        .logo-text{
            font-size: 20px;
        }
        .structure-box{

            justify-content: center;
        }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .nav-items {
        font-size: 20px;
    }

    .header{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .name{
        font-size: 35px;
    }
    .discription-text{
        font-size: 30px;
        width: 100%;
    }

    .discription-text1{
        font-size: 20px;
        width: 44vw;
    }
    .nav-list1{
        justify-content: space-between;
        width: 100%;
}
.nav-list{
    justify-content: center;
}
    .all-structure{
        justify-content: center;
        margin: 17px ;
    }

    .img-inside{
        display: block;
        width: 100%;
    }
     .img-outside{
        display: none;       
    }
    .structure-img1{
        margin: 30px 0;
    }


}
@media (min-width: 1024px) and (max-width: 1400px) {
    .nav-items {
        font-size: 24px;
    }
    .name{
        font-size: 50px;
    }
    .discription-text{
        font-size: 40px;
        width: 50vw;
    }
    .discription-text1{
        width: 53vw;
        font-size: 32px;
        margin-bottom:  20px;
    }
    .body {
        padding: 30px;
    }
    .img-outside{
        display: none;     
    }
    .nav-list1{
        
        width: 100%;
    }
        

}

@media (min-width: 1400px) {
    .nav-items {
        font-size: 26px;
    }
    .name{
        font-size: 70px;
    }
    .discription-text{
        font-size: 70px;
        width: 40vw;
    }
    .discription-text1{
        font-size: 35px;
        width: 29vw;
        margin-bottom: 30px;
    }
    .img-inside{
        display: none;
    }
}