
:root {
    --dark-color: rgba(22, 152, 172, 1);
    --light-color: rgba(255, 255, 255, 1);
}

.back-img{
    background-image: url("../img/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    filter: brightness(1) contrast(1.1);
}
body{
    font-family: Laila;
    background: cover;
    background-repeat: no-repeat;
    background-color: black;
    margin: 0 0;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}
.logo-box{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-img{
    width: 70px;
}

.logo-text{
    font-size: 24px;
    font-weight: 600;
    position: relative;
    left: -25px;
    color: var(--dark-color);
}

nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
.nav-items{
    margin: 0 10px;
    text-decoration: none;
    color: var(--light-color);
}
main{
    display: flex;
    flex-wrap: wrap;
}

@font-face {
    font-family: Laila;
    src: url("../fonts/Laila/Laila-Regular.ttf");
}
.fl{
    display: flex;
    align-items: center;
}

.logo-box, .nav-box{
    flex: 1;
}

.nav-item{
    border: 2px solid var(--dark-color);
    border-radius: 20px;
    text-align: center;
    padding: 2px 17px;
    font-weight: 600;
    flex: 1;
    white-space: nowrap;
}


.nav-item:hover{
    background-color: var(--dark-color);
    color: var(--light-color);
    transition: 0.3s;
}